// -
//     var text = "Footer Section";
// table(style="width: 100%; padding: 0")
//     tr(valign="middle" style="vertical-align: middle")
//         td.header__text(
//         valign="middle"
//         style={'text-align': 'left',
//             'font-size': '16px',
//             'vertical-align': 'middle'}
//         )=text