@font-face {
	font-family: 'HelveticaNeueRegular';
  	src: url('#{$path--font}/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('#{$path--font}/HelveticaNeueRegular.woff') format('woff'),
		url('#{$path--font}/HelveticaNeueRegular.ttf') format('truetype'),
		url('#{$path--font}/HelveticaNeueRegular.svg?#HelveticaNeueRegular') format('svg');
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('#{$path--font}/source-sans-pro/source-sans-pro-regular.eot');
	src: url('#{$path--font}/source-sans-pro/source-sans-pro-regular.eot?#iefix') format('embedded-opentype'),
	url('#{$path--font}/source-sans-pro/source-sans-pro-regular.woff') format('woff'),
	url('#{$path--font}/source-sans-pro/source-sans-pro-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('#{$path--font}/source-sans-pro/source-sans-pro-italic.eot');
	src: url('#{$path--font}/source-sans-pro/source-sans-pro-italic.eot?#iefix') format('embedded-opentype'),
	url('#{$path--font}/source-sans-pro/source-sans-pro-italic.woff') format('woff'),
	url('#{$path--font}/source-sans-pro/source-sans-pro-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('#{$path--font}/source-sans-pro/source-sans-pro-semibold.eot');
	src: url('#{$path--font}/source-sans-pro/source-sans-pro-semibold.eot?#iefix') format('embedded-opentype'),
	url('#{$path--font}/source-sans-pro/source-sans-pro-semibold.woff') format('woff'),
	url('#{$path--font}/source-sans-pro/source-sans-pro-semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('#{$path--font}/source-sans-pro/source-sans-pro-semibolditalic.eot');
	src: url('#{$path--font}/source-sans-pro/source-sans-pro-semibolditalic.eot?#iefix') format('embedded-opentype'),
	url('#{$path--font}/source-sans-pro/source-sans-pro-semibolditalic.woff') format('woff'),
	url('#{$path--font}/source-sans-pro/source-sans-pro-semibolditalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'League Gothic';
	src: url('#{$path--font}/league-gothic/league-gothic.eot');
	src: url('#{$path--font}/league-gothic/league-gothic.eot?#iefix') format('embedded-opentype'),
	url('#{$path--font}/league-gothic/league-gothic.woff') format('woff'),
	url('#{$path--font}/league-gothic/league-gothic.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

//Font Stacks
$font-family--primary: 'HelveticaNeueRegular',Helvetica,Aria,sans-serif;

//Font weight
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

//Font size
$font-size--base: 16px;