doctype html
html(lang="en")
    head
        include ../component/mso_setting
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <!--[if !mso]><!-- -->
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        <!--<![endif]-->
        block title
            title Email Template
        style(type="text/css")
            block common_css
                include ../../css/common.css
        <!--[if gte mso 9]>
        style(type="text/css")
            block mso_css
                include ../../css/mso.css
        <![endif]-->
        style(type="text/css")
            block yahoo_css_01
                include ../../css/yahoo.css
    body
        //sometime yahoo mail do not embedded styles
        style(type="text/css")
            block yahoo_css_02
                include ../../css/yahoo.css
        block preview_text
            include ../component/preview
        block main




